
.barravertical {
    text-align: center;
    background-color:steelblue;
    width: 294px;
    height:950px;
    font-size: 16px;
    margin-left: 76px;
    color:black;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    
    
     
  }
  